/* dad.css */

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0;
  height: 100%;
  background-color: rgb(218, 139, 93);
}

/* source */

.box_source-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(186, 9, 230);
}

.box_source-div-span {
  font-size: 28px;
}

/* target */

.box_target-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 70px;
  border: 2px solid rgb(226, 114, 129);
  width: 364px;
  height: 364px;
  background-color: rgb(216, 184, 146);
}

.box_target-div-cell {
  border: 2px solid rgb(226, 114, 129);
  width: calc(100% / 4);
  height: calc(100% / 4);
}

/* btn */

.btn-game {
  border: 2px solid rgb(128, 120, 120);
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  background-color: rgb(240, 213, 181);
  user-select: none;
  outline: none;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn-game:focus-visible {
  outline: none;
  border-color: rgb(209, 111, 111);
}

@media (hover: hover) {
  .btn-game:hover {
    background-color: rgb(231, 193, 146);
    border-color: rgb(110, 104, 104);
  }
}

.btn-game:active {
  background-color: rgb(221, 174, 116);
  border-color: rgb(110, 104, 104);
}

.btn-game:disabled {
  color: rgb(161, 154, 154);
  background-color: rgb(219, 206, 191);
  border-color: rgb(201, 191, 191);
  cursor: default;
}
